{%  extends 'layout.html' %}

{% block body %}

<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="right_col" role="main">
<form id="configuration" class="form-horizontal form-label-left" method="post" action="./config/update">
    <div class="row">
        <!-- Outlets Start -->
        <div class="col-md-4 col-sm-12 col-xs-12">

            <!-- start of power center widget -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Notifications </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <h2>Pushbullet</h2>
                        <div class="form-group">
                            <label class="control-label col-sm-12 col-md-12 col-lg-4">Pushbullet Enabled: </label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                {% if pushbullet_enabled == '1' %}
                                   <input type='checkbox' class='js-switch' name='pushbullet_enabled'  data-state='1' checked>
                                {% else %}
                                   <input type='checkbox' class='js-switch' name='pushbullet_enabled' data-state='0'>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-12 col-md-12 col-lg-4">Pushbullet API: </label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input type="text" class="form-control" name="pushbullet_api" value="{{ pushbullet_api }}">
                            </div>
                        </div>
                        <h2>Twilio</h2>
                        <div class="form-group">
                            <label class="control-label col-sm-12 col-md-12 col-lg-4">Twilio Enabled: </label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                {% if pushbullet_enabled == '1' %}
                                   <input type='checkbox' class='js-switch' name='twilio_enabled'  data-state='1' checked>
                                {% else %}
                                   <input type='checkbox' class='js-switch' name='twilio_enabled' data-state='0'>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-12 col-md-12 col-lg-4">Twilio Account SID: </label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input type="text" class="form-control col-sm-8 col-md-8 col-lg-8" value="{{ twilio_account_sid }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-12 col-md-12 col-lg-4">Twilio Auth Token: </label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input type="text" class="form-control col-sm-8 col-md-8 col-lg-8" value="{{ twilio_auth_token }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end power center widget -->

        </div>
        <!-- Outlets End -->

        <!-- Sensors Start -->
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Block 2 </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="">
                        Block 2
                    </div>
                </div>
            </div>
            <!-- End Sensors Heading -->
        </div>

        <!-- Start Misc -->
        <div class="col-md-4 col-sm-12 col-xs-12">

            <!-- start of camera widget -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Block 3 </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        Settings
                    </div>
                </div>
            </div>
            <!-- end camera widget -->

        </div>
        <!-- End Misc Section -->
    </div>
    <input type="submit" value="update">
</form>
</div>

{% endblock %}